h1, div, span {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
	text-align: center;
}

.cont {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	padding-right: 2px;
	padding-bottom: 2px;
}

button {
	padding: 5px 20px;
	color: #000;
	background-color: #c6c6c6;
	margin: 0 10px;
	border-radius: 5px;
	cursor: pointer;
	&:hover {
		background-color: #c5c37a;
	}
}

.tool {
	padding: 5px 10px;
}

.hover {
	background-color: #c5c37a;
}

.text {
	text-align: center;
	width: 100%;
	font-size: 14px;
	margin-bottom: 10px;
}

.capturedImage {
	text-align: center;
	margin: 20px;
}

.palette {
	width: 500px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 10px;
	margin-top: 10px;
}

.label {
	width: 100%;
	text-align: center;
	font-size: 22px;
	margin-bottom: 10px;
}

.paletteRows {
	width: auto;
	margin: 0;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	width: calc(8 * 64px);
	justify-content: center;
	align-items: center;
	height: calc(60px + 4px);
}

.rows {
	width: auto;
	margin: 0;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.vier {
	width: 15px;
	height: 15px;
}

.drei {
	width: 30px;
	height: 30px;
}

.zwei {
	width: 40px;
	height: 40px;
}

.eins {
	width: 60px;
	height: 60px;
}

.eins, .zwei, .drei, .vier {
	margin-right: -1px;
	margin-bottom: -1px;
	border: 1px solid #000;
	cursor: pointer;
}

.colorItem {
	width: 40px;
	height: 40px;
	margin: 0 2px;
	border: 1px solid #000;
	cursor: pointer;
}

.chosen {
	width: 46px;
	height: 46px;
	border: 3px dotted rgb(127, 127, 127);
}